<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CreateUsers">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Kidbiz.CanvasCreateUsers.CanvasNewUserTest"/>
      <class name="com.Kidbiz.SchoologyCreateUser.SchoologyCreateNewCourseTest"/>
      <class name="com.Kidbiz.CanvasCreateUsers.CanvasAddNewCourse"/>
      <class name="com.Kidbiz.OLPTest.OLPCreateNewStudentTest"/>
      <class name="com.Kidbiz.OLPTest.OLPCreateNewTeacherTest"/>
      <class name="com.Kidbiz.SchoologyCreateUser.SchoologyCreateNewTeacherTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- CreateUsers -->
